---
title: Home
layout: default
---

 
    

<div ng-app="myApp" ng-controller="gMap">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map" options="options">
    <ui-gmap-marker ng-repeat="marker in markers"
      coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      <ui-gmap-window>
        <div>[[marker.window.title]]</div>
      </ui-gmap-window>
    </ui-gmap-marker>
    
    <ui-gmap-polygon ng-repeat="p in polygons" path="p.path" stroke="p.stroke" fill="p.fill" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons' events="p.events"></ui-gmap-polygon>
    
    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons' events="p.events"></ui-gmap-polyline>
 
  </ui-gmap-google-map>
</div>
<audio id="dummy" autoplay="autoplay"></audio>