<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta property="og:url" content="https://courserules.github.io/" />
	<meta property="og:site_name" content="TW-4 Course Rules" />
	<meta property="og:title" content="TW-4 Course Rules" />
	<meta property="og:description" content="Course rules for primary flight training at TW-4." />
	<meta property="og:type" content="website" />

	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="shortcut icon" type="image/png" href="/favicon.ico">

	<title>{{ site.title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>

	<!-- Custom styles for this template -->
	<link href="/css/courserules.css" rel="stylesheet"/>

  </head>

  <!-- NAVBAR
================================================== -->
  <body>
